{%extends "layout.html"%} {%block content%}
<div class="gallery">
  <h1>This page contains photos of my country, Taiwan.</h1>
  <p></p>
</div>
<div class="row1">
  <div class="col-1-of-3">
    <img src="../static/images/bells-mayer-JNJ_7gT7C2s-unsplash.jpg" alt="">    
  </div>
  <div class="col-1-of-3">    
    <img src="../static/images/sam-chang-PRCnmtjrlZk-unsplash.jpg" alt="">
  </div>
  <div class="col-1-of-3">  
    <img src="../static/images/tommy-TZldfnLPZ3Q-unsplash.jpg" alt="">  
  </div>
</div>

{%endblock%}
